.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    animation: fading 2s 1s;
}

/* alternate infinite ? */

@keyframes fading {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 1s;
}

.ex-5-square:hover {
    transform: scale(1.5);
}

.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img,
.ex-7-img,
.ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: hue-rotate(145deg) blur(5px);
}

.ex-8-img {
    border-radius: 0px;
    transition: filter 2s linear, border-radius 2s linear;
}

.ex-8-img:hover {
    filter: contrast(180%) sepia(80%);
    border-radius: 25px;

}


.ex-9-img {
    border-radius: 0px;
    transition: filter 2s linear, border-radius 2s linear, transform 2s linear;
}

.ex-9-img:hover {
    filter: saturate(160%) invert(74%);
    border-radius: 25px;
    transform: scale(2, 1.3);
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-10-icon {
    font-size: 60px;
    animation: loading 1.5s linear infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation: load 2s linear;
}


@keyframes load {
    0% {
        transform: rotate(0)
    }

    80% {
        transform: rotate(280deg)
    }

    100% {
        transform: rotate (0)
    }
}


.ex-12-button:hover .ex-12-top-white {
    animation: top-button 2s linear;
}

@keyframes top-button {
    0% {
        left: 10%;
    }

    50% {

        left: calc(100% - 60px);
    }

    100% {
        left: 10%;
    }
}


.ex-12-button:hover .ex-12-bottom-white {
    animation: button-bottom 2s linear;
}

@keyframes button-bottom {
    0% {
        right: 20%;
    }

    50% {
        right: calc(100% - 60px);
    }

    100% {
        right: 20%;
    }
}


.ex-13-button:hover .ex-13-bottom-white {
    animation: last-bottom 5s;
}

@keyframes last-bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }

    25% {
        bottom: -10px;
        right: calc(100% - 30px);
    }

    40% {
        bottom: calc(100% - 10px);
        right: calc(100% - 30px);
    }

    65% {
        bottom: calc(100% - 10px);
        right: -30px;
    }

    80% {
        bottom: -10px;
        right: -30px;
    }

    100% {
        bottom: -10px;
        right: 20%;
    }

}

.ex-13-button:hover .ex-13-top-white {
    animation: top-bottom 5s;
}

@keyframes top-bottom {
    0% {
        top: -10px;
        left: 10%;
    }

    25% {
        top: -10px;
        left: calc(100% - 30px);
    }

    40% {
        top: calc(100% - 10px);
        left: calc(100% - 30px);
    }

    65% {
        top: calc(100% - 10px);
        left: -30px;
    }

    80% {
        top: -10px;
        left: -30px;
    }

    100% {
        top: -10px;
        left: 20%;
    }
}


.ex-12-button,
.ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #90c5f3;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white,
.ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #fff;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white,
.ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #fff;
    width: 60px;
    height: 20px;
}